.sidebar-nav {
    position: fixed;
    padding: 1rem;
    height: 100dvh;
    width: 12rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #222;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;

    h1 {
        text-align: center;
    }
}

.dashboard-main {
    margin-left: 13rem;
}

